# Ignore virtual environment
myenv/

# Ignore environment variables
airflow-setup/.env/

# Ignore logs
.logs/

# Ignore Python cache files
airflow-setup/dags/__pycache__/

airflow-setup/logs/

